/*
.row {
    border: 1px solid black;
}

.col {
    border: 1px dotted black;
    align-items: center;
    text-align: center;
}
*/
.rw1 {

    font-weight: bold;
    border-bottom: 1px solid  #000000;

}

#sure {
    font-size: 50px;
    font-weight: bolder;
}

p {

}

.rw2 {
  margin-top: 50px;
}

.rw3 {
    height: 300px;
}

.cat {
    width: 900px;
}

/* Button */



.bt1 {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #8e7bff;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    width: 8em;
  }
  
  .bt1:hover {
    background-color: #8e7bff;
    box-shadow: 0 0 20px #5743c7;
    transform: scale(1.1);
  }
  
  .bt1:active {
    background-color: #5743c7;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

  .bt2 {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #80ea99;
    color: #000000;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    align-self: center;
    height: 50px;
    padding-bottom: 40px;
  }
  
  .bt2:hover {
    background-color: #80ea99;
    box-shadow: 0 0 20px #4caf63;
    transform: scale(1.1);
  }
  
  .bt2:active {
    background-color: #4caf63;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

  .card {
    background-color: #8e7bff;
    text-align: left;
    align-items: normal;
    width: 280px;
  
  }

  h1 {
    color: white;
    padding-top: 60px;
    font-size: 30px;
  }

  h3 {
    color: white;
    font-size: 13px;
  }

  .card img {
    width: 65px;
    padding-top: 5px;
  }